#mapa {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	border:3px solid grey;
	border-radius: 15px;
}

#lista_alojamientos ol {
	width: 200px;
	height: 200px;
	overflow-y: auto;
}

a:visited {
	text-decoration:none;
	color:#ffcc33;
} 
.busqueda_alojamiento {
	width: 350px;
}
.busqueda_alojamiento ul {
	list-style: none;
	width: 420px;
	margin: 0;
	padding: 2px;
}

.busqueda_alojamiento ul li {
	padding: 8px;
	position: relative;
}

input {
	display: inline;
}

#botonReset {
	display:inline;
}