#tabs {
	border: 0px;
	background-color: transparent;
}

body {
	background-image: url('./mapa-madrid.jpg');
	background-size: cover;
}

#imagen_banner {
	/*padding: 1em 3em;*/
 	margin: 1em 5%;
	margin-bottom: 10px; 
	overflow: hidden; 
	width: 90%;
	height: 100px;
	border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border: 5px solid #5878ca;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.btn.btn-primary {
	margin: 10px 5px 0 5px;

	float: left;
}
#mapa, #mapa_clientes_alojados {

	width: 800px;
	height: 400px;
	margin: 30px auto 0 auto;
	border:3px solid grey;
	border-radius: 15px;
}

#mapa_coleccion {
	float: right;
	width:600px;
	height: 300px;
	margin:0;
	border:3px solid grey;
	border-radius: 15px;
}

#lista_alojamientos ol, #lista_alojamientos_totales ol {
	width: 300px;
	height: 200px;
	overflow-y: auto;
}

#lista_alojamientos_totales, #lista_alojamientos {
	float: left;
	margin-right: 25px;
}

#buscar_nombre {
	float: right;
}
a:visited {
	text-decoration:none;
	color:#ffcc33;
} 
.busqueda_alojamiento {
	width: 350px;
	float: left;
	margin-left: 25px;
	margin-top: 50px;
}
.busqueda_alojamiento ul {
	list-style: none;
	width: 420px;
	margin: 0;
	padding: 2px;
}

.busqueda_alojamiento ul li {
	padding: 8px;
	position: relative;
}

input {
	display: inline;
}

#botonReset {
	display:inline;
}
 #formulario_coleccion {
 	width: 200px;
 	float left;
 	margin-left: 25px;
 }
/*#resultado_busqueda {
	margin-left: 25px;
	margin-top: 50px;
	width: 200px;
	height: 200px;
	float:left;
	border: 2px solid grey;
}*/

#colecciones_creadas {
	border:2px solid grey;
	float: left;
	padding: 3px;
	margin: 3px;
}
.coleccion {
	border: 1px solid blue;
}

#nombre_coleccion_creada {
	font-style: italic;
	font-weight: bold;
	font-color: #ffffff;
	font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
}

#alojamiento_coleccion {
	padding-right: 5px;
	padding-left: 2px;
}

.coleccion {
	margin-top: 2px;
}

#coleccion_seleccionada {
	border: 2px solid yellow;
	font-style: italic;
	font-weight: bold;
	font-color: #ffffff;
	font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
	float: right;
}

#google_clientes {
	border-radius: 5px;
	border: 2px solid grey;
	background-color: rgba(0, 0, 0, 0.3); 
}

#google_clientes img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	padding: 5px;
}

.formulario_cliente h2 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #5CD053;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 433px;
}

.formulario_cliente ul {
    width:750px;
    list-style-type:none;
	margin:0px;
	padding:0px;
}
.formulario_cliente li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
}

.formulario_cliente label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.formulario_cliente input {
	height:20px; 
	width:220px; 
	padding:5px 8px;
}
.formulario_cliente textarea {
	padding:8px; 
	width:300px;
}
.formulario_cliente button {
	margin-left:90px;
}
.formulario_cliente input, .formulario_cliente textarea { 
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	color: #888;
	font-size: 12px;
	padding-right:30px;
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;
}

.formulario_cliente input:focus, .formulario_cliente textarea:focus {
	background: #fff; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	padding-right:80px;
}

.formulario_cliente input:required:valid, .formulario_cliente textarea:required:valid {
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

.formulario_cliente input:focus:invalid, .formulario_cliente textarea:focus:invalid {
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

.formulario_cliente button.submit {
    padding: 9px 17px;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
   line-height: 1;
   color: #444;
   border: none;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
   background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
   background-color: #fff;
   border: 1px solid #f1f1f1;
   border-radius: 10px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.formulario_cliente button.submit:hover {
	opacity:.55;
	cursor: pointer; 
	color: #fff;
}

.formulario_cliente button.submit:active {
	border: 1px solid #222;
	box-shadow: 0 0 10px 5px #444 inset; 
}

.modal-header h4 {
    color: #fff;
    font-size: 25px;
    line-height: 3em;
}

.modal-body h5 {
    color: #fff;
    font-size: 13px;
    display: block;
    float: left;
    text-align: left;
    padding-right: 15px;
    width: 100px;
    line-height: 3em;
}
.modal-body input {
	margin-bottom: 20px;
}
.modal-body input.text{
  width: 100%;
  background: #171717 url(images/search.png) no-repeat scroll right;
  padding: 13px;
  color: #8c8c8c;
  border: 1px solid #393939;
  margin-bottom: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  font-size: 16px;
}

.modal-body input.text.active{
  background: #343434 url(images/search.png) no-repeat;
  border-color: #000;
  color: #fff;
}

.modal-content {
	background-image: url(images/bg.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(38, 38, 38);
}

